
@{
    ViewBag.Title = "WeatherJS";
}

<h2>Weather</h2>
<p id="name"></p>
<p id="temp"></p>
<p id="humidity"></p>
<button>Get Weather</button>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("http://api.openweathermap.org/data/2.5/weather?q=Cleveland&APPID=77ef2b3fd85322bd950e9184761b1c1c&units=imperial", function (response) {
                //response
                console.log(response);
                $("#name").text(response.name);
                $("#temp").text(response.main.temp);
                $("#humidity").text(response.main.humidity);
            });
        });
    });
</script>
